# Project Proposal

## Introduction

In [7]:
library(tidyverse)
library(tidymodels)

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Dig deeper into tidy modeling with R at https://www.tmwr.org

In [8]:
data_set<- read_csv2("https://zenodo.org/record/5777340/files/dataset.csv?download=1")
head(data_set)

ℹ Using "','" as decimal and "'.'" as grouping mark. Use `read_delim()` for more control.

Rows: 4424 Columns: 35
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr  (5): Curricular units 1st sem (grade), Curricular units 2nd sem (grade)...
dbl (29): Marital status, Application mode, Application order, Course, Dayti...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Marital status Application mode Application order Course
1 1               8               5                  2
2 1               6               1                 11
3 1               1               5                  5
4 1               8               2                 15
5 2              12               1                  3
6 2              12               1                 17
  Daytime/evening attendance Previous qualification Nacionality
1 1                           1                     1
2 1                           1                     1
3 1                           1                     1
4 1                           1                     1
5 0                           1                     1
6 0                          12                     1
  Mother's qualification Father's qualification Mother's occupation ⋯
1 13                     10                      6                  ⋯
2  1                      3                      4                  ⋯
3 22                     27                     10                  ⋯
4 23                     27                      6                  ⋯
5 22                     28                     10                  ⋯
6 22                     27                     10                  ⋯
  Curricular units 2nd sem (credited) Curricular units 2nd sem (enrolled)
1 0                                   0
2 0                                   6
3 0                                   6
4 0                                   6
5 0                                   6
6 0                                   5
  Curricular units 2nd sem (evaluations) Curricular units 2nd sem (approved)
1  0                                     0
2  6                                     6
3  0                                     0
4 10                                     5
5  6                                     6
6 17                                     5
  Curricular units 2nd sem (grade)
1 0.0
2 13.666666666666666
3 0.0
4 12.4
5 13.0
6 11.5
  Curricular units 2nd sem (without evaluations) Unemployment rate
1 0                                              108
2 0                                              139
3 0                                              108
4 0                                               94
5 0                                              139
6 5                                              162
  Inflation rate GDP   Target
1 1.4            1.74  Dropout
2 -0.3           0.79  Graduate
3 1.4            1.74  Dropout
4 -0.8           -3.12 Graduate
5 -0.3           0.79  Graduate
6 0.3            -0.92 Graduate

Methods
1. Choosing Predictors
Four characteristics that may predict whether or not an individual will be a graduate or a dropout were chosen.
Gender
Many studies have shown that females are more likely to graduate with a degree than males. (source: https://www.brookings.edu/blog/up-front/2021/10/08/the-male-college-crisis-is-not-just-in-enrollment-but-completion/)
Age at Enrollment
Differences in experience and maturity of older ages may contribute to better academic performance.
1st & 2nd Semester Grades (2 predictors)
Grades may be a huge predictor, as low grades are likely to influence a student's decision of dropping out. Also, a low grade in the first semester and a huge improvement in the second semester and vice versa could lead to an interesting prediction.
The goal is to see if these predictors do indeed predict whether or an individual will be a graduate or dropout.
2. Tidying & Wrangling Data
Select the 4 columns/predictors of interest in the data set, and rename them to a more human-readable form.
Filter out the rows with "Enrolled" as the Target variable since it is an unwanted label for analysis. Also, filter out NA values in the data set.
Since Target is the chosen label, convert the Target vector to a factor from a character
3.Training Data + Selecting Parameter Value
Split the tidied data set into a training and testing dataset
Creating a recipe specifying the label and predictors' columns and standardize the training dataset to ensure all data are in a comparable scale that contributes equally to k-nearest neighbor calculations
Using the K-nearest neighbor algorithm, tune the model in order to pick the best K value
Perform a 5-fold validation to evaluate the accuracy of the classifier of each k value
Perform a workflow analysis to fit the model for each k value (of chosen number of k values).
Collect the estimated accuracies of each classifier created and create a scatter plot graph to choose the optimum K value for training the training set
Retrain the training dataset with the chosen K value
4. Evaluating Accuracy of Training Dataset + Conclusion
Test the trained model with the testing dataset.
By comparing its predictions and true labels from the original dataset, obtain the classifier's accuracy.
Determine if the chosen four predictors do indeed predict whether a student will be a graduate or a dropout.