# Predicting Students' Academic Success

### Introductin

*hi*

From Rubric: 

*Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal
Clearly state the question you will try to answer with your project
Identify and describe the dataset that will be used to answer the question*

OUR CHARACTER: 
gender (female), age of enrollment (18), sem1 grade (8), sem2 grade (13), course (fixed! - 12)

In [16]:
#load necessary packages 
library(tidyverse)
library(tidymodels)

In [20]:
#set seed for the analysis to be reproducible
set.seed(1)

In [19]:
#load data into R
#use head() since data is too large
data_set<-read_csv("https://raw.githubusercontent.com/ekang27kc/dsci100-2023-T2-Group07-project/main/dataset.csv")
head(data_set)

Rows: 4424 Columns: 35
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): Target
dbl (34): Marital status, Application mode, Application order, Course, Dayti...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Marital status Application mode Application order Course
1 1               8               5                  2
2 1               6               1                 11
3 1               1               5                  5
4 1               8               2                 15
5 2              12               1                  3
6 2              12               1                 17
  Daytime/evening attendance Previous qualification Nacionality
1 1                           1                     1
2 1                           1                     1
3 1                           1                     1
4 1                           1                     1
5 0                           1                     1
6 0                          12                     1
  Mother's qualification Father's qualification Mother's occupation ⋯
1 13                     10                      6                  ⋯
2  1                      3                      4                  ⋯
3 22                     27                     10                  ⋯
4 23                     27                      6                  ⋯
5 22                     28                     10                  ⋯
6 22                     27                     10                  ⋯
  Curricular units 2nd sem (credited) Curricular units 2nd sem (enrolled)
1 0                                   0
2 0                                   6
3 0                                   6
4 0                                   6
5 0                                   6
6 0                                   5
  Curricular units 2nd sem (evaluations) Curricular units 2nd sem (approved)
1  0                                     0
2  6                                     6
3  0                                     0
4 10                                     5
5  6                                     6
6 17                                     5
  Curricular units 2nd sem (grade)
1  0.00000
2 13.66667
3  0.00000
4 12.40000
5 13.00000
6 11.50000
  Curricular units 2nd sem (without evaluations) Unemployment rate
1 0                                              10.8
2 0                                              13.9
3 0                                              10.8
4 0                                               9.4
5 0                                              13.9
6 5                                              16.2
  Inflation rate GDP   Target
1  1.4            1.74 Dropout
2 -0.3            0.79 Graduate
3  1.4            1.74 Dropout
4 -0.8           -3.12 Graduate
5 -0.3            0.79 Graduate
6  0.3           -0.92 Graduate

In [ ]:
select()
filter